html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgba(128, 181, 113, 255);

}

#navbar {
    height: 250px;
    width: 100%;
    border-bottom-width: 0px;
    background: url(../img/navbar_background4.jpg);
    background-position-x: 35%;
    background-position-y: 82%;
    background-size: 70%;
}

#titulo{
    margin-top: 210px;
    color: rgba(175, 229, 89, 1);
    font-size:250%;
    font-family: Indie Flower;
    font-style: oblique;
}

#opciones {
    float: right;
    margin-top: 210px;
    font-size:200%;
}

#gradient {
    margin-top: 250px;
    height: 70px;
    width: 100%;
    background: linear-gradient(rgba(128, 181, 113, 255), rgba(0, 0, 0, 0));
    position:fixed;
}

#contenedor, #publicidad {
    margin-top: 300px;
    float: left;

}

#contenedor {
    width: calc(100% - 342px);
    margin-left: 6px;
}

#publicidad {
    width: 300px;
    height: 600px;
}

.noticia {
    margin-bottom: 15px;
    margin-left: 0;
    border-color: rgba(175, 229, 89, 1);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgba(175, 229, 89, 1);
    color: black;
}

.img, .text {
    float: left;
}

.img  {
    padding: 0;
    padding-left: 0;
    width: 250px;
    margin-right: 20px;
}

.text {
    
    width: calc(100% - 290px);
    
}

.titulo {
    font-size: 150%; 
}
